                                                    logica de programação


1º Importar os dados

2º Analisar tabela

3º Tratar os dados
    Conferir quantidade de linhas;
    Excluir colunas inúteis
    transformar strings em int
    
4º Construir modelo

5º Criar bases de treino e teste

6º Validar a acuracia no teste (em %)

7º Salvar o algorítmo em .joblib

8º Analisar uma base totalmente nova e entender qual resultado gerará (Acurácia em %)

9º Desenvolver uma nova lógica de programação/ações para os clientes que estão em churn

In [23]:
#Importação e Tratamento dos dados

#Colunas que precisarei codificar: Geography, Gender, Card Type

import pandas as pd
churn_data = pd.read_csv('Dados_Treino.csv')
churn_data = churn_data.drop(columns=['RowNumber', 'CustomerId', 'Surname'])

from sklearn.preprocessing import LabelEncoder
codificador = LabelEncoder

#churn_data["Geography"] = codificador.fit_transform(churn_data, churn_data["Geography"])
churn_data["Gender"] = codificador.fit_transform(churn_data, churn_data['Gender'])
churn_data["Geography"] = codificador.fit_transform(churn_data, churn_data['Geography'])
churn_data["Card Type"] = codificador.fit_transform(churn_data, churn_data['Card Type'])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:115: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.classes_, y = _unique(y, return_inverse=True)

In [25]:
#Divisão de bases de Treino e Teste

x = churn_data.drop(columns=['Exited'])
y = churn_data['Exited']

In [39]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y)

from sklearn.tree import DecisionTreeClassifier
# modelo_churn = DecisionTreeClassifier()

# modelo_churn.fit(x_train, y_train)

# previsao = modelo_churn.predict(x_test)

from sklearn.metrics import accuracy_score

#resultado_teste = accuracy_score(previsao, y_test)
#resultado_teste

import joblib

joblib.dump(modelo_churn, 'algoritmo_churn.joblib')

['algoritmo_churn.joblib']

In [55]:
churn_real = pd.read_csv("Base de Clientes a ser analisada.csv")

churn_real = churn_real.drop(columns=['RowNumber', 'CustomerId', 'Surname', 'Exited'])

churn_real["Gender"] = codificador.fit_transform(churn_real, churn_real['Gender'])
churn_real["Geography"] = codificador.fit_transform(churn_real, churn_real['Geography'])
churn_real["Card Type"] = codificador.fit_transform(churn_real, churn_real['Card Type'])

modelo_churn = joblib.load('algoritmo_churn.joblib')

dados_churn = modelo_churn.predict(churn_real)

churn_real['dados_churn'] = dados_churn

churn_real

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:115: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.classes_, y = _unique(y, return_inverse=True)

In [24]:
churn_real.to_csv("Dados_Churn_Clientes.csv", encoding = 'utf-8')

      CreditScore  Geography  Gender  Age  Tenure  ...  Exited  Complain  Satisfaction Score  Card Type  Point Earned
0             619          0       0   42       2  ...       1         1                   2          0           464
1             608          2       0   41       1  ...       0         1                   3          0           456
2             502          0       0   42       8  ...       1         1                   3          0           377
3             699          0       0   39       1  ...       0         0                   5          1           350
4             850          2       0   43       2  ...       0         0                   5          1           425
...           ...        ...     ...  ...     ...  ...     ...       ...                 ...        ...           ...
7994          519          1       0   21       1  ...       1         1                   1          3           623
7995          708          0       0   67       1  ...       0         0                   1          0           652
7996          717          0       0   22       5  ...       0         0                   3          0           250
7997          465          1       1   24       6  ...       0         0                   4          0           865
7998          829          1       1   28       3  ...       1         1                   1          2           536

[7999 rows x 15 columns]